<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.starovoitov.polynavi" android:versionName="1.1.2" android:installLocation="auto" android:versionCode="16">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-feature android:name="android.hardware.location.gps" />
	<uses-feature android:name="android.hardware.location.network" />
	<application android:icon="@drawable/icon" android:label="PolyNavi" />
</manifest>